body{
    background-image: url(/graphics/background.png);
    background-color:#363f47;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-container, .start-page{
   text-align: center;
   max-width: 400px;
   
}
button{
    
    border-radius: 5px;
    margin:20px;
}

.question-container{
    display: block;
    text-align: center;
    margin:10px,auto;
    padding: 10px 20px;
}

h1,p{
     color: #cde9c3;
     
     
}

p{
    font-size:25px;
}
.group-buttons{
    max-height:400px;
    
}
button:hover{
    cursor: pointer;
}

#option-one, #option-two{
    font-size: 20px;
    padding:3%;
    background-color:#564D80;
    color: #cde9c3;
}

#option-one:hover, #option-two:hover{
    
    padding:3%;
    background-color: #e5f7df;
    transition: 5ms;
    color:#564D80;
}

.button1{
    min-height:10%;
    font-size: 20px;
    /*border:dotted 3px ;*/
    max-width: 60%;
    padding: 13px;
    margin: auto;
    background-color:#564D80;
    color: #cde9c3;
    
}

.button1:hover{
    background-color: #e5f7df;
    transition: 0.5s ease;
    color:#564D80;
    
}

#small{
    font-size:13px;
    text-decoration: none;
    
}